html,
body {
  padding: 0;
  margin: 0;
  font-family: "DINPro-Regular";
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  text-decoration: none !important;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-family: "DINPro-Regular";
    font-weight: normal;
}

/* - Fonts */

@font-face {
  font-family: "DINPro-Light";
  src: url("../public/fonts/DINPro-Light.woff2") format("woff2"),
       url("../public/fonts/DINPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "DINPro-Regular";
  src: url("../public/fonts/DINPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "DINPro-Medium";
  src: url("../public/fonts/DINPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;

}

@font-face {
  font-family: "DINPro-Bold";
  src: url("../public/fonts/DINPro-Bold.woff2") format("woff2"),
       url("../public/fonts/DINPro-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;

}
@font-face {
  font-family: 'DINPro-CondensedBlack';
  src: url('../public/fonts/DINPro-CondensedBlack.woff2') format('woff2'),
       url('../public/fonts/DINPro-CondensedBlack.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.btn-default, .btn-primary.disabled, .btn-primary:disabled {
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  line-height: 26px;
  background-color: #67c187;
  border-radius: 10px;
  position: relative;
  font-family: "DINPro-Medium";
  border:none;
}

.btn-default:hover,
.btn-default:focus {
  color: #fff !important;
  background-color: #3f3f3f !important;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) !important;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3) !important;
}

.btn-arrow:after {
  content: "";
  background: url(../public/images/arrow-icon.svg) no-repeat;
  display: inline-block;
  background-size: contain;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 0px;
  opacity: 0;
  -webkit-transition: all 0.3s 0s linear;
  -moz-transition: all 0.3s 0s linear;
  -o-transition: all 0.3s 0s linear;
  transition: all 0.3s 0s linear;
}

.btn-arrow:hover:after {
  opacity: 1;
  margin-left: 10px;
}

.btn-arrow:hover {
  padding: 10px 35px 10px 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.hawkesBlueBg {
  background: #ccd0fb;
}
.azaleaBg {
  background: #f9d4d4;
}

.frenchLilacBg {
  background: #e9caf3;
}

.cosmosBg {
  background: #ffd4d2;
}

.frozenPeriwinkleBg {
  background: #c8e2ee;
}

:root {
  --hawkesBlue: #ccd0fb;
  --azalea: #f9d4d4;
  --frenchLilac: #e9caf3;
  --cosmos: #ffd4d2;
  --frozenPeriwinkle: #c8e2ee;
}
.GreenBg{
  background: #60be82a6;
}
.lavenderblueBg {
  background-color: #c1c6ff;
}
.yellowBg {
  background-color: #ffe8758f;
}
.pinkBg{
  background-color: #ff7db1ad;
}
.skyBg{
  background-color: #05d5fa8f;
}

.textGreen {
  font-family: "Montserrat",sans-serif;
  color: #5ebe81;
  font-weight: 700;
}
.homeSlider{
  
  background: hsla(147, 100%, 95%, 1);
  background: linear-gradient(360deg, hsla(147, 100%, 95%, 1) 0%, hsla(69, 100%, 97%, 1) 100%);
  background: -moz-linear-gradient(360deg, hsla(147, 100%, 95%, 1) 0%, hsla(69, 100%, 97%, 1) 100%);
  background: -webkit-linear-gradient(360deg, hsla(147, 100%, 95%, 1) 0%, hsla(69, 100%, 97%, 1) 100%);
}
.currentSlide0 .homeSlider{
  background: hsla(50, 100%, 95%, 1);
  background: linear-gradient(360deg, hsla(50, 100%, 95%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -moz-linear-gradient(360deg, hsla(50, 100%, 95%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
  background: -webkit-linear-gradient(360deg, hsla(50, 100%, 95%, 1) 0%, hsla(0, 0%, 100%, 1) 100%);
}
.currentSlide1 .homeSlider{
  background: hsla(141, 100%, 97%, 1);
  background: linear-gradient(360deg, hsla(141, 100%, 97%, 1) 0%, #f8fffa 100%);
  background: -moz-linear-gradient(360deg, hsla(141, 100%, 97%, 1) 0%, #f8fffa 100%);
  background: -webkit-linear-gradient(360deg, hsla(141, 100%, 97%, 1) 0%, #f8fffa 100%);
}
.currentSlide2 .homeSlider{
  
  background: hsla(147, 100%, 95%, 1);
  background: linear-gradient(360deg, hsla(147, 100%, 95%, 1) 0%, hsla(69, 100%, 97%, 1) 100%);
  background: -moz-linear-gradient(360deg, hsla(147, 100%, 95%, 1) 0%, hsla(69, 100%, 97%, 1) 100%);
  background: -webkit-linear-gradient(360deg, hsla(147, 100%, 95%, 1) 0%, hsla(69, 100%, 97%, 1) 100%);
}
.pink-color {
  background-color: #FFC4C4;
}
.magicmint-color {
  background-color: #a9f3c0;
}
.lavenderblue-color {
  background-color: #c1c6ff;
}
.blond-color {
  background-color: #ffeec0;
}
.noiseBg{
  background-image: url(../public/images/noisy-texture.png);
}
.separatorPart{
  position: relative;
}
.separatorPart::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -43px;
  height: 43px;
  width: 100%;
  transform: translateX(-50%);
  background: url(../public/images/solution/shaprator-shadow.png) 0% 0% / contain no-repeat;
  background-repeat: no-repeat;
  background-position: center !important;
}

.form-control{
  background:rgb(245, 245, 245);
  border-color: #e1e1e1;
}
textarea.form-control{
  height: 100px;
}
.form-control:focus{
  box-shadow: none;
  background: rgb(245, 245, 245);
  border-color:rgba(0, 0, 0, 0.5);
}
label.form-label{
  font-weight: 600;
  font-family: 'Montserrat',sans-serif;
  color: rgba(0, 0, 0, 0.7);
}
.modal-content{
  border: none;
}
.modal-backdrop.show {
  opacity: .7;
}
.modal-header{
  background: #67c187;
  color: #fff; 
  border-bottom: none;
  padding: 1rem 25px;
}
.modal-title{
  font-size: 22px;
  line-height: 42px;
  font-family: 'Montserrat',sans-serif;
  font-weight: 600;
}
.modal-body{
  padding: 25px;
}

.orangeColor{
  color: #ff9000;
}
.bgDmBlue{
  background-color:#c6e6f5;
}
.bgLBlue{
  background-color: #c6f3ff;
}
.bgLBlue{
  background-color: #c6f3ff;
}
.bgflutterBlue {
  background-color: #cedfed;
}
.bgIceCold{
  background-color:#d2f5ee;
}
.bgLightMintGreen{
  background-color:#cce2cc;
}

@media (min-width: 1600px){
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
      max-width: 1540px;
  }
}
@media (max-width: 1199px){
  .btn-default{
    font-size: 16px;
    line-height: 26px;
    padding: 8px 15px;
  }
  .btn-arrow:hover{
    padding:8px 35px 8px 15px;
  }
}
@media (max-width: 575px){
  .modal-header{
    padding: 1rem;
  }
  .modal-body {
      padding: 15px;
  }
  .modal-title {
    font-size: 18px;
    line-height: 20px;
  }
}

.loader span{
  animation-fill-mode: both !important;
  -webkit-animation-fill-mode: both !important;
}
div#hubspot-messages-iframe-container {
  bottom: 50px !important;
}
.PhoneInputInput, .PhoneInputInput:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}
.pr{
  position: relative;
}